@if (!ViewData.ModelState.IsValid)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @foreach (var item in ViewContext.ViewData.ModelState.OrderByDescending(x => "ClarificationResponse".Equals(x.Key)))
                {
                    foreach (var error in item.Value.Errors)
                    {
                        var summaryLink = "#" + item.Key;

                        if (item.Key == "Status") {
                            summaryLink = "#OptionPass";
                        }

                        if (item.Key == "MoveToModeration") {
                            summaryLink = "#OptionYes";
                        }

                        <li><a href="@summaryLink">@error.ErrorMessage</a></li>
                    }
                }
            </ul>
        </div>
    </div>
}