@{
    ViewBag.Title = "Signed Out";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Signed Out</h1>
            <p class="govuk-body-l">Your account is now signed out</p>

            @*<p class="govuk-body"></p>*@

            <p class="govuk-body">
                <a class="govuk-link" asp-action="Dashboard" asp-controller="Home">Go back to the dashboard</a>
            </p>

        </div>
    </div>
</main>